@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sidebar-color: #545BFC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }

  label,
  p,
  span,
  h2,
  h1,
  a,
  label,
  div {
    font-family: 'Poppins', sans-serif !important;
  }

  input::placeholder, textarea::placeholder {
    font-family: 'Poppins', sans-serif !important;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.sidebar-bg-color {
  background: #545BFC !important;
  overflow: auto;
  position: sticky !important;
  left: 0;
  top: 0;
  bottom: 0;
}

.logout-absolute {
  position: absolute !important;
  bottom: 30px;
}

/* navbar starts */

#navbar {
  margin-left: -30px;
  height: 75px;
}

#navbar .nav-left .ant-select-selector {
  border: none;
}

#navbar .nav-left .ant-select {
  /* Your custom styles here */
  width: 250px;
  border: 1px solid #bb2525;
}

/* navbar ends */


/* table start */
table thead tr .ant-table-cell {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #141C38;
}

/* table ends */

/* login forgot password start */
.remember-forgotpass-row .ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
}

/* login forgot password ends */

/* Form field label starts */

.ant-form-item-required{
  color: #141C38 !important;
  font-size: 16px !important;
}

.ant-form-item-control{
  max-width: 100%;
}

.ant-form-item-label{
  max-width: 100%;
}

.ant-form-item-label label{
  font-size: 16px !important;
}
/* Form field label ends */

.ant-form-item-explain-error {
  font-family: 'Poppins', sans-serif !important;
  margin-bottom: 4px;
}

.ant-btn-primary {
  background-color: #1677ff !important;
}

.ant-dropdown-menu-title-content {
  font-family: 'Poppins', sans-serif;
}

.ant-menu-item-group {
  color: #fff;
}

.ant-layout-sider {
  background-color: #545bfc;
  box-shadow: 20px 10px 100px rgba(84, 91, 252, 0.4);
  border-radius: 0px 50px 50px 0px;
}

.ant-menu {
  background-color: #545bfc;
}

.ant-menu-item {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 15px;
}

.ant-menu-item-title {
  padding-left: 10px;
}

.ant-menu-item:hover {
  background: #545bfc;
  color: #fff;
}

.ant-menu-item-selected {
  border: 3px solid #fff;
  color: red;
}