@import "../../App.scss";

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: $buttonText_color;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  .nav-left {
    p {
      padding: 0 10px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.03em;
      color: #7E8299;
    }
    .ant-select-selector {
      border: none;
    }
    .ant-select {
      /* Your custom styles here */
      width: 250px;
      border: 1px solid #eaeaea;
      // box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
      // border-radius: 15px;
    }
  }
  .nav-right {
    .nav-items {
      display: flex;
      align-items: center;
      .nav-item {
        padding: 0 1rem;
        .notification {
          height: 25px;
          position: relative;
          padding: 0 1rem;
          img {
            position: absolute;
            bottom: 0;
            width: 25px;
            height: 25px;
            object-fit: fill;
            margin-top: -10px;
          }
          .status {
            position: absolute;
            top: 30;
            left: -5;
            width: 8px;
            height: 8px;
            background-color: red;
            border-radius: 50%;
          }
        }
        cursor: pointer;
        .avtar {
          .img {
            border: 1px solid $background_color;
          }
        }
        .dropdown {
          height: 55px;
          align-items: center;
          .tag {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            padding-right: 0 10px;
            color: #777777;
          }
          .icon{
             color: #000000;
             padding-left: 15px;
          }
        }
      }
    }
  }
}
