@import "../../App.scss";

/* Customize the sidebar container */
.sidebar {
  .ant-menu-item-group {
    color: $buttonText_color;
  }
  .ant-layout-sider {
    background-color: $base_color;
    box-shadow: 20px 10px 100px rgba(84, 91, 252, 0.4);
    border-radius: 0px 50px 50px 0px;
  }
  /* Customize the sidebar menu */
  .ant-menu {
    background-color: $base_color;
  }
  .ant-menu-item {
    color: $buttonText_color;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-size: 15px;
  }
  .ant-menu-item-title {
    padding-left: 10px;
  }
  .ant-menu-item:hover {
    background: $base_color;
    color: #fff;
  }
  .ant-menu-item-selected {
    border: 3px solid $buttonText_color;
    color: red;
  }
  .container {
    overflow: auto;
    height: 100vh;
    background-color: $base_color;
    .demo-logo-vertical {
      display: flex;
      align-items: center;
      margin: 1.5rem 0;
      justify-content: center;
      cursor: pointer;
      .img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
      .logo-tag {
        color: $buttonText_color;
        padding-left: 5px;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.03em;
      }
      .logo-tag-collapse {
        display: none;
      }
    }
  }
}

.bottom-nav {
  margin-top: auto;
}
